body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.blueBG {
  background-color: #0000ff;
  color: #ffffff;
}

.boxHeight {
  height: 300px;
}

.boxWidth {
  width: 500px;
}

.autoMargin {
  margin: auto;
}

.leftAlign {
  text-align: left;
}

.marginBottom30 {
    margin-bottom: 30px;
}

.marginLeft10 {
  margin-left: 10px;
}
